.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

#container_canvas {
   -fx-background-color: #d7ffff;
}

.chart-plot-background {
    -fx-background-color: #ffffff;
}

.chart-series-line {
    -fx-stroke-width: 1px;
    -fx-effect: null;
}

.chart-legend-item {
    -fx-font: 10 sans;
}
